*.al3d filter=lfs diff=lfs merge=lfs -text
*.x3p filter=lfs diff=lfs merge=lfs -text
# Exclude these specific files from LFS
packages/scratch-core/tests/resources/scans/circle.al3d -filter -diff -merge text
packages/scratch-core/tests/resources/scans/circle.x3p -filter -diff -merge text
