[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"

[project]
name = "stats"
version = "0.0.1"
description = "statistics"
authors = [
    {name = "Netherlands Forensics Institute", email = "netherlandsforensicinstitute@users.noreply.github.com"}, ]
requires-python = ">=3.11"
readme = "README.md"
license = {text = "Apache Software License 2.0"}
dependencies = [
    "arviz>=0.22.0",
    "lir==1.1.0",
    "pandas>=2.3.3",
    "pymc>=5.26.1",
]

[project.urls]
homepage = "https://github.com/NetherlandsForensicInstitute/scratch/"

[dependency-groups]
dev = [
    "coverage",
    "pytest",
    "pytest-testmon>=2.1.3",
    "mypy>=1.18.2",
    "ruff>=0.14.3",
]

[tool.pdm]
version = {source = "scm"}

[tool.pdm.scripts]
all = {composite = ["check", "test"]}
all_with_quicktest = {composite = ["check", "quicktest"]}
check = {composite = ["format-check", "lint", "mypy"]}
fix = {composite = ["lint-fix", "format-fix"]}
lint = "ruff check src/"
lint-fix = "ruff check --fix src/"
format-check = "ruff format --diff src/"
format-fix = "ruff format src/"
mypy = "mypy src"
# If no args are given to 'test', this will run as if '{args}' is an empty string.
test = "coverage run --branch --source src --module pytest --strict-markers tests/ {args}"
quicktest = {composite = ["test --testmon"]}
test-coverage = "coverage report"

[tool.ruff]
format.quote-style = "single"
line-length = 120
lint.flake8-builtins.ignorelist = ["format"]
lint.flake8-quotes.inline-quotes = "single"
lint.ignore = [
    # enforced by the formatter, not ignoring this causes warnings
    "COM812",
    # 'r' is the default mode for builtin open(), but explicit is better than implicit
    "UP015",
    # `X` as variable name is allowed to be uppercase in this project
    "N802", "N803", "N806",
    # allow `open()` over `Path.open()`
    "PTH123",
    # allow raising custom Exceptions in try/catch blocks
    "B904",
    # do not enforce use of all() inside `for()` loop
    "SIM110",
]
lint.isort.lines-after-imports = 2
lint.select = ["A", "B", "COM", "C4", "DTZ", "E", "F", "I", "N", "PTH", "Q", "SIM", "UP"]

[tool.mypy]
# allow redefinition of inferred / assigned types
allow_redefinition = true
# require all defined functions to be fully typed
allow_incomplete_defs = false
allow_untyped_defs = false
# be strict about optional types
strict_optional = true
# warn about lines in this file that make no sense to mypy
warn_unused_configs = true
# do not warn about missing imports
ignore_missing_imports = true

exclude = [
]
